# --- Database Configuration ---
POSTGRES_DB=mapcess
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<YOUR_SECURE_DATABASE_PASSWORD>

# --- Backend Security Keys ---
# JWT Secret Key must be at least 32 characters long plain text or Base64 encoded.
JWT_SECRET_KEY=<YOUR_STRONG_JWT_SECRET_KEY>

# The API key required for clients to authenticate their requests.
APP_API_KEY=<YOUR_APP_API_KEY>

# --- 3rd Party Services ---
# Required for map routing, AWS S3 file uploads, etc.
# Leave them blank ONLY if you are not testing these specific features.
ORS_API_KEY=<YOUR_OPEN_ROUTE_SERVICE_API_KEY>
AWS_BUCKET_NAME=<YOUR_AWS_S3_BUCKET_NAME>
AWS_REGION=<YOUR_AWS_REGION>
AWS_ACCESS_KEY=<YOUR_AWS_ACCESS_KEY>
AWS_SECRET_KEY=<YOUR_AWS_SECRET_KEY>